In [1]:
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import numpy as np
from pandas import TimeGrouper

In [2]:
from datetime import datetime
from random import normalvariate

In [3]:
now = datetime.now()
now

datetime.datetime(2017, 7, 25, 18, 46, 6, 735102)

In [7]:
df1 = pd.DataFrame(pd.date_range('1/1/2013' , '6/30/2016'), columns=['date'])

In [8]:
for j in range(11):
        df2 = pd.DataFrame([df1['date']]*j)

In [35]:
df3 = pd.DataFrame(df2.stack())
df = df3.reset_index()

In [10]:
df4 = pd.DataFrame(np.random.randint(0, 1000, size = (12770)), columns=['store'])

In [11]:
df5 = pd.DataFrame(np.random.randint(0, 2000, size = (12770)), columns=['product'])

In [12]:
df6 = pd.DataFrame(np.random.randint(10000, 100000, size = (12770)), columns=['sum'])

In [13]:
df7 = pd.DataFrame(np.random.randint(0, 100, size = (12770)), columns=['quantity'])

In [19]:
df8 = pd.concat([df4, df5], axis=1)

In [20]:
df9 = pd.concat([df8, df6], axis=1)

In [36]:
df10 = pd.concat([df9, df7], axis=1)

In [37]:
df11 = pd.concat([df10, df], axis=1)

In [66]:
df12 = df11.drop("level_0", axis=1)
df13 = df12.drop("level_1", axis=1)
df13.columns = ['store', 'product', 'sum', 'quantity', 'date']
df13

       store  product    sum  quantity       date
0        193       22  12366        83 2013-01-01
1         77      769  74138        34 2013-01-02
2        116      342  93526         5 2013-01-03
3        712      257  25489         4 2013-01-04
4        372     1696  96466        72 2013-01-05
5        839      343  66781         1 2013-01-06
6        603     1301  48560        51 2013-01-07
7        640     1646  79091        78 2013-01-08
8        653      299  60515        95 2013-01-09
9        470      721  82476        60 2013-01-10
10       496     1227  28363        38 2013-01-11
11       439     1409  19084        48 2013-01-12
12       125      723  41919        48 2013-01-13
13       560      589  13470        12 2013-01-14
14       420      288  34495        45 2013-01-15
15       503      332  58803         7 2013-01-16
16       893     1810  28601        76 2013-01-17
17       641     1376  78439         7 2013-01-18
18       759      386  65855         8 2013-01-19
19       473      297  39407        22 2013-01-20
20       384      819  44540         9 2013-01-21
21       580      206  84880        34 2013-01-22
22       220     1069  25529        29 2013-01-23
23       653     1818  95542        67 2013-01-24
24       808     1756  10587        27 2013-01-25
25       718     1854  41762        16 2013-01-26
26       638     1934  22484        73 2013-01-27
27       237     1390  46856         2 2013-01-28
28       705     1511  35903        36 2013-01-29
29       138      939  79435        96 2013-01-30
...      ...      ...    ...       ...        ...
12740    128      541  84358        63 2016-06-01
12741    393      904  69773        71 2016-06-02
12742    634     1117  27779        34 2016-06-03
12743    370      910  49646        75 2016-06-04
12744    283      760  10067        19 2016-06-05
12745    355     1133  17977        79 2016-06-06
12746    919     1555  93248        94 2016-06-07
12747    523     1788  48897        37 2016-06-08
12748    817      696  36682        73 2016-06-09
12749    791      110  32210        31 2016-06-10
12750    771      167  99355        71 2016-06-11
12751    126     1242  95493        27 2016-06-12
12752    984     1581  76014        75 2016-06-13
12753    800     1827  27787        20 2016-06-14
12754    381      584  97055        99 2016-06-15
12755    843      862  14586         0 2016-06-16
12756    414     1242  97622        73 2016-06-17
12757    370     1022  22061        69 2016-06-18
12758    280     1523  42285         1 2016-06-19
12759     48      678  68680        94 2016-06-20
12760    977     1520  22002        78 2016-06-21
12761    162        1  13798        67 2016-06-22
12762    771      523  77800        13 2016-06-23
12763    444     1293  36640        21 2016-06-24
12764    708     1318  76926        88 2016-06-25
12765    932      475  39243        72 2016-06-26
12766    552      693  47837        27 2016-06-27
12767    309     1776  68023        82 2016-06-28
12768    183      417  81088        89 2016-06-29
12769     19     1019  56396        81 2016-06-30

[12770 rows x 5 columns]

In [67]:
df14 = df13.ix[:,['date', 'store', 'product', 'sum', 'quantity']]
df14

/Users/atsuhikoetori/.pyenv/versions/3.5.2/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

            date  store  product    sum  quantity
0     2013-01-01    193       22  12366        83
1     2013-01-02     77      769  74138        34
2     2013-01-03    116      342  93526         5
3     2013-01-04    712      257  25489         4
4     2013-01-05    372     1696  96466        72
5     2013-01-06    839      343  66781         1
6     2013-01-07    603     1301  48560        51
7     2013-01-08    640     1646  79091        78
8     2013-01-09    653      299  60515        95
9     2013-01-10    470      721  82476        60
10    2013-01-11    496     1227  28363        38
11    2013-01-12    439     1409  19084        48
12    2013-01-13    125      723  41919        48
13    2013-01-14    560      589  13470        12
14    2013-01-15    420      288  34495        45
15    2013-01-16    503      332  58803         7
16    2013-01-17    893     1810  28601        76
17    2013-01-18    641     1376  78439         7
18    2013-01-19    759      386  65855         8
19    2013-01-20    473      297  39407        22
20    2013-01-21    384      819  44540         9
21    2013-01-22    580      206  84880        34
22    2013-01-23    220     1069  25529        29
23    2013-01-24    653     1818  95542        67
24    2013-01-25    808     1756  10587        27
25    2013-01-26    718     1854  41762        16
26    2013-01-27    638     1934  22484        73
27    2013-01-28    237     1390  46856         2
28    2013-01-29    705     1511  35903        36
29    2013-01-30    138      939  79435        96
...          ...    ...      ...    ...       ...
12740 2016-06-01    128      541  84358        63
12741 2016-06-02    393      904  69773        71
12742 2016-06-03    634     1117  27779        34
12743 2016-06-04    370      910  49646        75
12744 2016-06-05    283      760  10067        19
12745 2016-06-06    355     1133  17977        79
12746 2016-06-07    919     1555  93248        94
12747 2016-06-08    523     1788  48897        37
12748 2016-06-09    817      696  36682        73
12749 2016-06-10    791      110  32210        31
12750 2016-06-11    771      167  99355        71
12751 2016-06-12    126     1242  95493        27
12752 2016-06-13    984     1581  76014        75
12753 2016-06-14    800     1827  27787        20
12754 2016-06-15    381      584  97055        99
12755 2016-06-16    843      862  14586         0
12756 2016-06-17    414     1242  97622        73
12757 2016-06-18    370     1022  22061        69
12758 2016-06-19    280     1523  42285         1
12759 2016-06-20     48      678  68680        94
12760 2016-06-21    977     1520  22002        78
12761 2016-06-22    162        1  13798        67
12762 2016-06-23    771      523  77800        13
12763 2016-06-24    444     1293  36640        21
12764 2016-06-25    708     1318  76926        88
12765 2016-06-26    932      475  39243        72
12766 2016-06-27    552      693  47837        27
12767 2016-06-28    309     1776  68023        82
12768 2016-06-29    183      417  81088        89
12769 2016-06-30     19     1019  56396        81

[12770 rows x 5 columns]

In [68]:
df14.to_csv('kadai.csv')

In [126]:
df_store = pd.DataFrame(df14.groupby(['date', 'store']).sum().reset_index())
df_store

            date  store  product    sum  quantity
0     2013-01-01    145     1099  15332        52
1     2013-01-01    148      533  44604        79
2     2013-01-01    193       22  12366        83
3     2013-01-01    445     1819  37455        55
4     2013-01-01    544      931  77392         1
5     2013-01-01    589     1980  74280        39
6     2013-01-01    644     1719  77988        93
7     2013-01-01    754     1120  53035         0
8     2013-01-01    859       16  42113        12
9     2013-01-01    866      246  41705        49
10    2013-01-02     77      769  74138        34
11    2013-01-02    174      490  65559        84
12    2013-01-02    210      842  20624        55
13    2013-01-02    377      615  59264         8
14    2013-01-02    421     1335  20960        29
15    2013-01-02    676     1543  54594        39
16    2013-01-02    814     1568  66028        78
17    2013-01-02    847     1932  32097        99
18    2013-01-02    851      368  22672        31
19    2013-01-02    920     1275  43460        44
20    2013-01-03     43      107  34848        98
21    2013-01-03     89     1547  83188        37
22    2013-01-03    116      342  93526         5
23    2013-01-03    151     1723  61982        98
24    2013-01-03    261      656  74092        83
25    2013-01-03    267      593  33722        26
26    2013-01-03    335      464  78248        61
27    2013-01-03    365     1549  84062        61
28    2013-01-03    414      372  46434        15
29    2013-01-03    583      655  33513        81
...          ...    ...      ...    ...       ...
12687 2016-06-28     76     1218  90235        42
12688 2016-06-28    309     1776  68023        82
12689 2016-06-28    357      630  47520        65
12690 2016-06-28    375     1811  49926         4
12691 2016-06-28    469       60  60426        70
12692 2016-06-28    489      733  92785        23
12693 2016-06-28    498      542  62505        88
12694 2016-06-28    529      724  94493        82
12695 2016-06-28    588       86  24743        95
12696 2016-06-28    628      647  16955        31
12697 2016-06-29     87      601  48903        68
12698 2016-06-29    183      417  81088        89
12699 2016-06-29    185     1576  83673        96
12700 2016-06-29    191      324  91317        64
12701 2016-06-29    245     1415  20365        78
12702 2016-06-29    259     1557  84682        90
12703 2016-06-29    618     1670  59673        39
12704 2016-06-29    671     1721  28952        73
12705 2016-06-29    791      844  64001        50
12706 2016-06-29    863     1542  89741        45
12707 2016-06-30     19     1019  56396        81
12708 2016-06-30    142      323  64772        27
12709 2016-06-30    169     1309  91697        67
12710 2016-06-30    221     1958  65340        52
12711 2016-06-30    245     1332  10327        99
12712 2016-06-30    302     1334  19230        25
12713 2016-06-30    675     1980  29701        57
12714 2016-06-30    677      838  16904        35
12715 2016-06-30    880     1907  73641        67
12716 2016-06-30    949      268  30653        99

[12717 rows x 5 columns]

In [149]:
df50 = pd.DataFrame(df14.groupby(['store', 'sum', 'date']).sum().reset_index())
df50

       store    sum       date  product  quantity
0          0  15740 2015-08-25     1878        57
1          0  17481 2015-12-01     1509        26
2          0  21564 2016-02-01     1432        84
3          0  23740 2016-05-18     1173        64
4          0  24345 2015-01-17      442        98
5          0  27192 2015-12-22      104        69
6          0  41867 2014-03-22     1685         2
7          0  45047 2013-06-25     1499        61
8          0  76629 2014-09-21     1270        10
9          0  77395 2016-01-03      331        50
10         0  77676 2013-03-20     1820        96
11         0  78809 2014-04-06       46        77
12         0  82298 2016-02-26     1423        42
13         0  84381 2014-10-08     1209        19
14         0  86731 2014-01-21     1981        19
15         0  88866 2015-12-21     1887        50
16         0  92410 2014-07-19      471        38
17         1  39258 2014-07-13      590        52
18         1  39563 2016-03-28      205        26
19         1  53305 2014-08-06      547        17
20         1  53829 2013-11-29      758        31
21         1  66560 2016-04-23     1969        64
22         1  68083 2015-06-02     1978        65
23         1  71712 2014-12-01      275        30
24         1  72782 2015-03-22      760        94
25         1  86879 2014-05-15      314        25
26         2  27509 2016-03-05      149        39
27         2  29564 2014-09-23      375        68
28         2  43912 2013-08-26     1300         6
29         2  47518 2015-02-08     1209        38
...      ...    ...        ...      ...       ...
12740    997  85351 2013-02-05     1718        44
12741    997  96998 2014-03-31     1097        59
12742    998  10667 2014-10-03      816        85
12743    998  12088 2015-12-25      512        64
12744    998  12871 2016-05-15     1347        45
12745    998  16041 2013-01-30      545        81
12746    998  16154 2014-05-07      320         2
12747    998  23807 2014-07-28     1305        94
12748    998  24695 2015-08-02     1564         1
12749    998  30356 2016-03-27      762        46
12750    998  43618 2015-10-01     1334        42
12751    998  46802 2016-01-04      290        19
12752    998  50132 2016-03-22     1592        14
12753    998  58740 2014-07-04     1077        37
12754    998  66671 2013-05-21      175        89
12755    998  76771 2014-09-27     1480        13
12756    998  79118 2015-10-16      653        30
12757    998  85013 2014-04-09      380        82
12758    998  94100 2014-03-09     1409        20
12759    999  10963 2016-04-16      961        86
12760    999  39481 2014-04-02     1997        76
12761    999  45996 2014-04-01     1488        57
12762    999  48934 2014-04-05      606         3
12763    999  66202 2013-04-14     1556        90
12764    999  74685 2016-05-06     1459        70
12765    999  76324 2016-02-14       65        58
12766    999  76579 2013-07-05     1495        10
12767    999  89306 2015-04-19      313        76
12768    999  90226 2014-09-14      993        12
12769    999  95372 2014-04-29     1877        50

[12770 rows x 5 columns]

In [152]:
Month = df50.set_index('date').groupby(pd.TimeGrouper(freq='M')).sum().reset_index()
Month

         date   store       sum  product  quantity
0  2013-01-31  163543  16889842   297060     15067
1  2013-02-28  134591  15499881   295576     14012
2  2013-03-31  144885  16927960   314714     16326
3  2013-04-30  154213  16559957   313337     14228
4  2013-05-31  159923  16986096   311766     15233
5  2013-06-30  141569  16944837   290741     15019
6  2013-07-31  152936  16866791   316764     14707
7  2013-08-31  152344  16718257   304188     15493
8  2013-09-30  146465  16480509   306702     14120
9  2013-10-31  159553  17175048   315518     15923
10 2013-11-30  139227  16128196   300388     14554
11 2013-12-31  160263  17122236   304107     14805
12 2014-01-31  152191  17253504   309352     14712
13 2014-02-28  133863  14621446   293497     13336
14 2014-03-31  152199  17453285   305062     15287
15 2014-04-30  157737  15665643   292096     14203
16 2014-05-31  159764  17286963   328017     14636
17 2014-06-30  156162  16663322   300310     14471
18 2014-07-31  156462  17609143   313349     15323
19 2014-08-31  153916  16714293   300909     14684
20 2014-09-30  152255  15476698   305815     14537
21 2014-10-31  156688  16869037   307206     14886
22 2014-11-30  154618  15752190   302761     15480
23 2014-12-31  150639  16723005   310521     14955
24 2015-01-31  160750  17678017   302180     15217
25 2015-02-28  140680  15193942   275348     13941
26 2015-03-31  151771  17250354   309709     15405
27 2015-04-30  148926  17152241   294170     14386
28 2015-05-31  149936  16324216   323654     15637
29 2015-06-30  149330  15858960   311553     15203
30 2015-07-31  153478  17640989   308815     15051
31 2015-08-31  154035  16365587   311248     15549
32 2015-09-30  152218  16190761   301405     14876
33 2015-10-31  151134  17574343   299207     15954
34 2015-11-30  149977  16685051   318426     14735
35 2015-12-31  143126  17457039   302945     14744
36 2016-01-31  154120  16669547   312265     14950
37 2016-02-29  146339  15453795   309882     14259
38 2016-03-31  153352  16862909   320904     15133
39 2016-04-30  153989  16140586   295948     14762
40 2016-05-31  151961  16690963   319596     15534
41 2016-06-30  144235  16588781   302027     16166

In [ ]:
Month = df_store.set_index('date').groupby(pd.TimeGrouper(freq='M')).sum().reset_index()